{% extends 'home/base.html' %}
{% load static %}
{% block content %}

         {% comment %} <div id="navbar">
            <img id="logo" src="Logo\popcorn_logo_white_tranparan_2.png">
            <a href="#contact" class="menu" > Contact Us </a> &nbsp;
            <a href="#join" class="menu"> Join </a> &nbsp;
            <a href="#team" class="menu"> Team </a> &nbsp;
            <a href="#gallery" class="menu"> Gallery </a> &nbsp;
            <a href="about.html" class="menu"> About </a> &nbsp;
            <a href="index.html" class="menu"> Home </a> &nbsp;
         </div> {% endcomment %}
         
        <div id="about">
            <h4 id="about-text">ABOUT</h4> &nbsp;
            <img id="line-1" src="{% static 'home/images/line-1.png' %}">
            <h2 id="profil-kami">PROFIL KAMI</h2>
            <video id="comprof" src="{% static 'home/images/patrick-kelelahan.mp4' %}" controls autoplay loop muted></video>
            <h3 id="channel">Our Channel</h3>
            <p id="desc-video">Popcorn tersedia dalam channel YouTube. Kunjungi channel kami untuk mendapatkan terupdate seputar pornography.</p>
            <img id="lihat-button" src="{% static 'home/images/lihat-button.png' %}">
        </div>

{% endblock content %}
