<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% comment %} <script src="{% static 'home/js/script.js' %}"></script> {% endcomment %}
    <title>Popcorn!</title>
</head>
<body>
    <div id="navbar">
            <img id="logo" src="{% static 'home/images/popcorn_logo_white_tranparan_2.png' %}">
            <a href="#contact" class="menu" > Contact Us </a> &nbsp;
            <a href="#join" class="menu"> Join </a> &nbsp;
            <a href="#team" class="menu"> Team </a> &nbsp;
            <a href="#gallery" class="menu"> Gallery </a> &nbsp;
            <a href="{% url 'home:about' %}" class="menu"> About </a> &nbsp;
            <a href="{% url 'home:index' %}" class="menu"> Home </a> &nbsp;
         </div>
    {% block content%}
    
    {% endblock content%}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'home/js/script.js' %}"></script> {% endcomment %}
    
</body>
</html>
