{% extends 'home/base.html' %}
{% load static %}
{% block content %}

         {% comment %} <div id="navbar">
            <img id="logo" src="{% static 'home/images/popcorn_logo_white_tranparan_2.png' %}">
            <a href="#contact" class="menu" > Contact Us </a> &nbsp;
            <a href="#join" class="menu"> Join </a> &nbsp;
            <a href="#team" class="menu"> Team </a> &nbsp;
            <a href="#gallery" class="menu"> Gallery </a> &nbsp;
            <a href="{% url 'home:About' %}" class="menu"> About </a> &nbsp;
            <a href="{% url 'home:index' %}" class="menu"> Home </a> &nbsp;
         </div> {% endcomment %}
         
        <div id="home">
             <h1>Welcome Fighters!</h1>
             <p id="desc">POPCORN (Protect Our Peers from Consuming Pornography) adalah komunitas anak muda yang concern dengan isu adiksi pornografi. POPCORN berfokus pada usaha preventif (berupa edukasi akan bahaya pornografi) maupun kuratif (berupa peer counseling).</p>
             <img id="fighters" src="{% static 'home/images/fighters.png' %}">
             <img id="get-started-button" src="{% static 'home/images/getStartedButton.png' %}">
        </div>

 {% endblock content %}