/**
CSS Style for Home page
**/

body {
    margin-left: 30px ;
    margin-right: 80px ;
    background-color: #F48BA9;
    font-family: Arial, Helvetica, sans-serif;
}

/* popcorn logo white tranparan 2 1 */
#logo{
    position: absolute;
    width: 154px;
    height: 36.22px;
    left: 80px;
    top: 35px;
}

.menu{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 4%;
    margin-right: -1%;
    top: 35px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;
    float: right;
    color: #FFFFFF;
    text-decoration: none;
}

/*pake class untuk beberapa */

/*kondisi menu kitika normal*/
/* .menu:link{
    background: grey;
    color: white;
} */

/*ketika sedang dikunjungi*/
.menu:visited{
    background: grey;
    color: white;
}

/*ketika mouse berada di atasnya*/
.menu:hover{
    color: skyblue;
}

/*ketika sedang di klik*/
.menu:active{
    background: white;

}

#home{
    height: 100%;
}

h1{
    position: absolute;
    width: 586px;
    height: 55px;
    left: 80px;
    top: 150px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#desc{
    position: absolute;
    width: 579px;
    height: 202px;
    left: 80px;
    top: 230px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#fighters{
    position: absolute;
    width: 661px;
    height: 458px;
    left: 599px;
    top: 100px;
}

/* getStarted */
#get-started-button{
    position: absolute;
    width: 160px;
    height: 60px;
    left: 128px;
    top: 480px;
}


/**
CSS Style for About page
**/

#about{
    height: 100%;
}

#about-text {
    position: absolute;
    width: 79px;
    height: 30px;
    left: 80px;
    top: 65px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.16em;

    color: #BDBDBD;
}

#line-1{
    position: absolute;
    width: 150px;
    height: 1px;
    left: 170px;
    top: 105px;
}

#profil-kami{
    position: absolute;
    width: 266px;
    height: 60px;
    left: 80px;
    top: 85px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #86CBED;
}

#comprof{
    position: absolute;
    width: 700px;
    height: 437px;
    left: 80px;
    top: 185px;
}

#channel{
    position: absolute;
    width: 363px;
    height: 48px;
    left: 800px;
    top: 210px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    /* Gray 1 */

    color: #333333;
}

#desc-video{
    position: absolute;
    width: 411px;
    height: 147px;
    left: 800px;
    top: 300px;

    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    letter-spacing: 0.12em;
    color: #000000;
    }

#lihat-button{
    position: absolute;
    width: 160px;
    height: 60px;
    left: 800px;
    top: 550px;
}

#desc-video{
    font-family: Poppins;
}